body {
	font-family: 'IBM Plex Mono', monospace;
	background-color:#00b894;
	color:white;
}

.cardsFlexBox {
	display:flex;
	flex-wrap:wrap;
}

.card {
	height: 100px;
	width:18%;
	margin: 5px;
	border-radius:5px;
	box-shadow: 2px 4px black;
	display:flex;
	flex-grow:1;
	justify-content: center;
	align-items:center;
	background-color: #E67E22;
	font-size:36px;
	color:white;
}

.card:hover {
	opacity:0.75;
}

.clicked-card {
	text-decoration: line-through;
}

.red-card {
	background-color: #d63031;
}

.blue-card {
	background-color: #0984e3;
}

.black-card {
	background-color: black;
}

.gray-card {
	background-color: #b2bec3;
}

.red-card:hover {
	opacity:1;
}

.blue-card:hover {
	opacity:1;
}

.black-card:hover {
	opacity:1;
}

.gray-card:hover {
	opacity:1;
}


.topFlexBox {
	display:flex;
	justify-content:space-between;
	width:100%;
}

.instEndBtnContainer {
	display:inline-block;
}

.modeBtnContainer {
	display:inline-block;
	margin:5px;
}

.modeBtn {
	height: 100px;
	background-color: green;
	border-radius:5px;
	box-shadow:1px 2px black;

}

.otherButtons {
	height:30px;
	display:flex;
	align-items:center;
	justify-content: center;
	width: 10vw;
	background-color:#E67E22;
	border-radius:5px;
	box-shadow: 1px 2px black;
	margin:5px;
}

.smallBox {
	display:inline-block;
	height:25px;
	width:30%;
	margin:1px;
	background-color:#E67E22;
}

.smallBlueBox {
	background-color:#0984e3;
}

.smallRedBox {
	background-color: #d63031;
}

.smallGrayBox {
	background-color: #b2bec3;
}