body {
	font-family: 'IBM Plex Mono', monospace;
	background-color:black;
	color:white;
}

.cardsFlexBox {
	display:flex;
	flex-wrap:wrap;
}

.card {
	height: 100px;
	display: inline-block;
	width:18%;
	margin: 5px;
	border-radius:5px;
	box-shadow: 2px 4px;
	display:flex;
	flex-grow:1;
	justify-content: center;
	align-items:center;
	background-color: brown;
	font-size:36px;
	color:white;
}

.card:hover {
	opacity:0.5;
}

.clicked-card {
	text-decoration: line-through;
}

.red-card {
	background-color: red;
}

.blue-card {
	background-color: blue;
}

.black-card {
	background-color: black;
}

.white-card {
	background-color: gray;
}

.red-card:hover {
	opacity:1;
}

.blue-card:hover {
	opacity:1;
}

.black-card:hover {
	opacity:1;
}

.white-card:hover {
	opacity:1;
}

.topFlexBox {
	display:flex;
	justify-content:space-between;
}
