.card {
	height: 100px;
	width: 100px;
	border:1px solid green;
	display: inline-block;
	width:18%;
}

.red-card {
	background-color: red;
}

.blue-card {
	background-color: blue;
}

.black-card {
	background-color: black;
}

.yellow-card {
	background-color: yellow;
}

.purple-card {
	background-color: purple;
}